/* ---- Background ---- */
#container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url("images/joe-woods-4Zaq5xY5M_c-unsplash.jpg");
  background-color: #ccc;
}

footer {
  background-color: #ccc;
}

footer p {
  margin: 0;
  margin-left: 8px;
  font-size: 12px;
  color: #252525;
}
/* ---- Switch ---- */
#toggle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.toggle input {
  width: 0;
  height: 0;
  opacity: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* ---- Neon ---- */
#sign {
  padding: 20px 0;
}

.text {
  font-family: "Homemade Apple", "Tahoma", cursive;
  font-size: 64px;
  text-align: center;
  color: white;
}

#first--line {
  position: relative;
}

#second--line {
  position: absolute;
  display: block;
  top: 116px;
  left: 500px;
}

/* ---- Color Select ---- */

#colors {
  display: flex;
}
select {
  margin: 0 auto;
  margin-top: 75px;
  background-color: transparent;
  color: #252525;
  border: none;
}

.off {
  color: #fff;
}
